
@model ListCategoryViewModel

@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h3 class="display-4">@this.ViewData["Title"]</h3>
    <cache expires-after="TimeSpan.FromDays(10)" vary-by-query="id">
        <h4 class="display-3">@DateTime.UtcNow</h4>
    </cache>
    <a asp-controller="Posts" asp-action="Create" class="btn btn-primary btn-lg">Create new forum post</a>
</div>
<hr />
<hr />


<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-4" media>
            <img src="@category.ImageUrl" width="100" class="mr-3" alt="@category.Name" />
            <div class="media-body">
                <h5 class="mt-0">
                    <a asp-controller="Posts" asp-action="AllPosts" asp-route-categoryId="@category.Id">
                        @category.Name (@category.PostsCount)
                    </a>
                </h5>             
            </div>
        </div>
        <h5></h5>
    }
</div>








